* {
    margin: 0;
}
body {
    font-family: "Poppins";
}

.bg-img {
    color: white;
    margin: 0;
    padding: 0;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/758/588/865/books-library-a-lot-wallpaper-preview.jpg");
    height: 89.7vh;
    width: 100vw;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.home-page-content {
    padding-top: 14%;
}